<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>{% block title %}GAMERCE{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
                /* Mobile first, default order */
        .order-1 {
            order: 1;
        }

        .order-2 {
            order: 2;
        }

        /* Reorder for desktop view */
        @media (min-width: 768px) {
            .md\:order-none {
                order: 0;
            }
        }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body class="bg-black text-white">
    <header class="flex items-center justify-between p-4">
        <a href="/" class="flex items-center">
            <i class="fas fa-play text-purple-500"></i>
            <span class="ml-2 text-lg font-bold">GAMERCE</span>
        </a>

        <div class="flex items-center space-x-4">
            <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
            <a href="/search"><i class="fas fa-search"></i></a>
            
            {% if 'user' in session %}
                <!-- Show SVG if user is signed in -->
                <div>
                    <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="17" cy="17" r="17" fill="#1E1E1E"/>
                        <g clip-path="url(#clip0_15_401)">
                            <path d="M17.0002 15.1779C18.9659 15.1779 20.5594 13.5711 20.5594 11.589C20.5594 9.60683 18.9659 8 17.0002 8C15.0344 8 13.4409 9.60683 13.4409 11.589C13.4409 13.5711 15.0344 15.1779 17.0002 15.1779Z" fill="white"/>
                            <path d="M18.5738 16.9239H15.4263C13.3432 16.9239 11.6542 18.6265 11.6542 20.7277V26H22.3458V20.7277C22.3458 18.6265 20.6568 16.9239 18.5738 16.9239Z" fill="white"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_15_401">
                                <rect width="18" height="18" fill="white" transform="translate(8 8)"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
            {% else %}
                <!-- Show FontAwesome user icon if user is not signed in -->
                <a href="/signin"><i class="fas fa-user"></i></a>
            {% endif %}
        </div>
    </header>

    <main>
        <!-- Content block that will be overridden by other templates -->
        {% block content %}{% endblock %}
    </main>

    <footer class="p-4 text-center text-gray-500">
        © 2024, GAMERCE, Inc. All rights reserved.
    </footer>
</body>

</html>
